body{
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.card{
    display: flex;
    border: white solid .25rem;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px gray;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 6, 12);
    transform: perspective(1000px)
    rotateY(var(--rotate-y, 0)) translateY(var(--tranlate-y, 0));
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
}

.card.flip{
    --rotate-y: 180deg;
}

.card .front{
left: 0;
}

.card:hover{
    --tranlate-y: -4px;
}

.card .front,
.card .back{
    position: absolute;
    padding: 2rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
    transform: rotateX(0deg)
}

.card-grid{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin: 20px;
}

.card .back{
    transform: rotateY(180deg);
}

.flashcard-options{
    margin-top:.2rem;
}

.flashcard-option{
    margin-top:.25rem;
    color: #fdb9b9;
}

.flashcard-option:first-child{
    margin-top: 0;
}

